@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3a9mfn');
  src:  url('fonts/icomoon.eot?3a9mfn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3a9mfn') format('truetype'),
    url('fonts/icomoon.woff?3a9mfn') format('woff'),
    url('fonts/icomoon.svg?3a9mfn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icomoon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icomoon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Picto_ANTILOPE:before {
  content: "\e904";
}
.icon-Chauve-souris_Black2:before {
  content: "\e905";
}
.icon-antilope:before {
  content: "\e903";
}
.icon-rodent:before {
  content: "\e901";
}
.icon-bat:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e902";
}
