@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3a9mfn');
  src:  url('fonts/icomoon.eot?3a9mfn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3a9mfn') format('truetype'),
    url('fonts/icomoon.woff?3a9mfn') format('woff'),
    url('fonts/icomoon.svg?3a9mfn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Picto_ANTILOPE:before {
  content: "\e904";
}
.icon-Chauve-souris_Black2:before {
  content: "\e905";
}
.icon-antilope:before {
  content: "\e903";
}
.icon-rodent:before {
  content: "\e901";
}
.icon-bat:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e902";
}
